.left-separator{
    position: absolute;
    display: inline-block;
    width: 65%;
    padding: 10px;  
}

.right-separator{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 33%;
    height: 100%;
    padding: 10px;
}

.item-details-and-delivery-option{
    min-height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    height: auto;
}

.order-summary{
    position: relative;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: 230px;
    height: 100%;
    background-color: #202020;
}

.cart-item{
    background-color: #202020;
    position: relative;
    width: 100%;
    min-height: 200px;
}

.top-bar{
    background-color: #606060;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
}

.mid-bar{
    width: 100%;
    height: 100%;
    background-color: green;
}

.thumb-wrapper{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: orange;
}

.thumb-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-product-details{
    position: absolute;
    right: 0;
    height: 150px;
    width: calc(100% - 160px);
}

.cart-product-details *{
    color: white;
}

.product-details-col1, .product-details-col2{
    height: 100%;
    position: absolute;
    background-color: #202020;
    padding: 10px;
}

.product-details-col1{
    width: 68%;
}

.product-details-col2{
    width: 30%;
    right: 0;
}

.product-name{
    font-weight: 600;
    font-size: 20px;
}

.product-brand{
    color: gray;
    font-weight: 500;
    font-size: 16px;
}

.product-price{
    font-weight: 500;
    font-size: 22px;
    color: #a24cc2;
}

.product-qty{
    font-weight: 500;
    font-size: 18px;
}

.rmv-btn{
    position: absolute;
    bottom: 10px;
    border-radius: 100%;
    background: 0;
    outline: 0;
    width: 35px;
    height: 35px;
    border: 0;
}

.rmv-btn *{
    color: white;
    font-size: 18px;
}

.rmv-btn:hover{
    transition: 0.25s;
    background-color: #606060;
    cursor:pointer;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label::before{
    content: "\2714";
    border: 2px solid black;
    border-radius: 3px;
    font-size: 18px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    background-color: white;
    color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:checked + label::before{
    color: #a24cc2;
}

.order-summary *{
    margin-bottom: 10px;
}

.order-summ-lbl{
    display: block;
    font-weight: 500;
    font-size: 22px;
    color: white;
}

.subtotal h4{
    display: inline-block;
    font-weight: 500;
}

.subtotal-lbl{
    color: gray;
}

.subtotal-val{
    color: white;   
}

.subtotal .subtotal-val{
    position: absolute;
    right: 10px;
}
.total-val{
    position: absolute;
    right: 10px;
}

button.check-out{
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #a24cc2;
    color: white;
    border: 0;
    outline: 0;
}

.check-out:hover{
    cursor: pointer;
    transition: 0.25s;
    background-color: #7e3a97;
}

.total-val{
    font-size: 20px;
    color: #a24cc2;
}