<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="checkbox1">Checkbox 1:</label>
        <input type="checkbox" name="cb" id="checkbox1" value="0">
        <label for="checkbox2">Checkbox 2:</label>
        <input type="checkbox" name="cb" id="checkbox2" value="1">
        <button type="submit">Submit</button>
    </form>
    {{ cart_orders }}
</body>
</html>