<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lazopee - Home</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/universal.css')}}">
	<script>
		onload = start();

		function start(){
			var i = 1;
			function nextSlide(){
				i = (i%5) + 1;
				document.getElementById('i'+i).checked = true;
			}
			setInterval(nextSlide, 5000);
		}
	</script>
</head>
<body>
	<div class="head-wrapper">
		{% include 'header-bar.html' %}
	</div>

	<div class="content">
		<div class="categories-and-slideshow">
			<div class="categories">
				<ul>
					<li class="category"><a href="/products/earphones">Earphones
										<i class="fas fa-chevron-right"></i></a>
						<ul class="subcategory">
							<li><a href="/products/earphones/wired">Wired</a></li>
							<li><a href="/products/earphones/wireless">Wireless</a></li>
							<li><a href="/products/earphones/true_wireless">True Wireless </a></li>
						</ul>
					</li>
					<li class="category"><a href="/products/headphones">Headphones
										<i class="fas fa-chevron-right"></i></a>
						<ul class="subcategory">
							<li><a href="/products/headphones/wired">Wired</a></li>
							<li><a href="/products/headphones/wireless">Wireless</a></li>
						</ul>
					</li>
					<li class="category"><a href="/products/mouse">Mouse
										<i class="fas fa-chevron-right"></i></a>
						<ul class="subcategory">
							<li><a href="/products/mouse/wired">Wired</a></li>
							<li><a href="/products/mouse/wireless">Wireless</a></li>
						</ul>
					</li>
					<li class="category"><a href="/products/mousepad">Mousepad
										<i class="fas fa-chevron-right"></i></a>
						<ul class="subcategory">
							<li><a href="/products/mousepad/regular">Regular</a></li>
							<li><a href="/products/mousepad/extended">Extended</a></li>
						</ul>
					</li>
					<li class="category"><a href="/products/keyboard">Keyboard
										<i class="fas fa-chevron-right"></i></a>
						<ul class="subcategory">
							<li><a href="/products/keyboard/membrane">Membrane<i class="fas fa-chevron-right"></i></a>
								<ul>
									<li><a href="/products/keyboard/membrane/wired">Wired</a></li>
									<li><a href="/products/keyboard/membrane/wireless">Wireless</a></li>
								</ul>
							</li>
							<li><a href="/products/keyboard/mechanical">Mechanical<i class="fas fa-chevron-right"></i></a>
								<ul>
									<li><a href="/products/keyboard/mechanical/wired">Wired</a></li>
									<li><a href="/products/keyboard/mechanical/wireless">Wireless</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="slideshow">
				<div class="slides">
					<input type="radio" name="slide-num" id="i1" checked>
					<input type="radio" name="slide-num" id="i2">
					<input type="radio" name="slide-num" id="i3">
					<input type="radio" name="slide-num" id="i4">
					<input type="radio" name="slide-num" id="i5">

					<div class="slide" id="s1"><img src="{{url_for('static',filename='img/earphones.jpg')}}"></div>
					<div class="slide" id="s2"><img src="{{url_for('static',filename='img/headphones.jpg')}}"></div>
					<div class="slide" id="s3"><img src="{{url_for('static',filename='img/mice.jpg')}}"></div>
					<div class="slide" id="s4"><img src="{{url_for('static',filename='img/mousepads.jpg')}}"></div>
					<div class="slide" id="s5"><img src="{{url_for('static',filename='img/keyboards.jpg')}}"></div>

					<div class="slide-nav">
						<label for="i1" id="dot1" class="dot"></label>
						<label for="i2" id="dot2" class="dot"></label>
						<label for="i3" id="dot3" class="dot"></label>
						<label for="i4" id="dot4" class="dot"></label>
						<label for="i5" id="dot5" class="dot"></label>
					</div>
				</div>
			</div>
		</div>
		<h1 class="deal-lbl">Most recently updated products</h1>
		<div class="products">
			{% for product in products %}
			<div class="item-container">
				<a href="/product?id={{ product_ids[loop.index0]['product_id'] }}">
					<div class="icon-wrapper">
						{% if product['image_name'] != none %}
							{% set imgpath = product['image_name'] %}
						{% else %}
							{% set imgpath = 'img/no-img.jpg' %}
						{% endif %}
						<img src="{{ url_for('static', filename=imgpath) }}">
					</div>
					<div class="item-name">
						<p>{{ product['name'] }}</p>
					</div>
					<div class="item-price">
						<label class="final-price">₱{{ product['price']|round(2) }}</label>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>