<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Item</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/universal.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/item.css')}}">
	<link rel="stylesheet" href="../static/css/universal.css">
	<link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
	<div class="item-container">
		<a href="">
			<div class="icon-wrapper">
				<img src="../static/img/sweet.png">
			</div>
			<div class="item-name">
				<p>This is some random text that's supposed to be truncated according to the size of this thing's container</p>
			</div>
			<div class="item-price">
				<label class="final-price">₱420</label>
				<label class="original-price">₱6969</label>
				<label class="discount-amount">-94%</label>
			</div>
		</a>
	</div>
	<div class="item-container">
		<a href="">
			<div class="icon-wrapper">
				<img src="../static/img/sweet.png">
			</div>
			<div class="item-name">
				<p>This is some random text that's supposed to be truncated according to the size of this thing's container</p>
			</div>
			<div class="item-price">
				<label class="final-price">₱420</label>
				<label class="original-price">₱6969</label>
				<label class="discount-amount">-94%</label>
			</div>
		</a>
	</div>
</body>
</html>